@use "@/styles/variables" as *;
@use "@/styles/breakpoints" as *;

.form-group {
  margin: 0;
  width: 100%;
  position: relative;

  label {
    display: block;
    margin-bottom: $spacing-8;
    font-size: 0.875rem;
    color: var(--text-secondary);
    font-weight: 500;
  }
}

.input-error {
  display: block;
  color: var(--error-color);
  font-size: 0.875rem;
  margin-top: $spacing-6;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: $spacing-16;
}

.modal-content > .form-actions {
  margin-top: $spacing-16;
}

.form-actions {
  display: flex;
  gap: $spacing-12;
  margin-top: $spacing-8;

  .btn {
    flex: 1;
  }
}
