@use "../../../../styles/variables" as *;
@use "../../../../styles/breakpoints" as *;

.order-button {
  position: fixed;
  bottom: max(env(safe-area-inset-bottom), $spacing-32);
  left: 50%;
  transform: translateX(-50%);
  padding: $spacing-12 $spacing-16;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: 600;
  z-index: 99;
  transition: $transition;
  border-radius: $border-radius-large;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: translateX(-50%) scale(0.96);
  }
}



.error-container {
  justify-content: center;
  align-items: center;
  height: 50vh;

  .error-message {
    text-align: center;

    h2 {
      color: #e53935;
      margin-bottom: $spacing-8;
    }

    p {
      color: var(--text-secondary);
      margin-bottom: $spacing-16;
    }

    button {
      padding: $spacing-8 $spacing-16;
      background-color: var(--primary-color);
      color: var(--text-color);
      border-radius: $border-radius-medium;
      transition: $transition;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.empty-container {
  justify-content: center;
  align-items: center;
  height: 50vh;

  .empty-message {
    text-align: center;

    h2 {
      color: var(--text-color);
      margin-bottom: $spacing-8;
    }

    p {
      color: var(--text-secondary);
      margin-bottom: $spacing-16;
    }

    button {
      padding: $spacing-8 $spacing-16;
      background-color: var(--primary-color);
      color: var(--text-color);
      border-radius: $border-radius;
      transition: $transition;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

// Modal içindeki liste için stiller
.modal-items-list {
  padding-left: $spacing-24; // Örnek bir padding değeri
  margin-top: $spacing-12;
  margin-bottom: $spacing-12;
  list-style-type: disc; // Madde imlerini göster

  li {
    margin-bottom: $spacing-8; // Liste elemanları arası boşluk
    color: var(--text-secondary); // Metin rengi, temanıza göre ayarlayın

    &:last-child {
      margin-bottom: 0;
    }
  }
}
