@use "../../../../styles/variables" as *;

.order-button {
  position: fixed;
  bottom: max(env(safe-area-inset-bottom), $spacing-32);
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;

  &.btn {
    padding: $spacing-12 $spacing-16;
    border-radius: $border-radius-large;
    font-weight: 600;
  }
}


.modal-items-list {
  padding-left: $spacing-24;
  margin-top: $spacing-12;
  margin-bottom: $spacing-12;
  list-style-type: disc;

  li {
    margin-bottom: $spacing-8;
    color: var(--text-secondary);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
