@use "../../../styles/variables" as *;

.profile-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.03);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition;
  position: absolute;
  right: $spacing-16;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: 768px) {
    right: $spacing-24;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.06);
  }

  .profile-initial {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
  }
}
