@use "@/styles/variables" as *;

.profile-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--surface-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
}
@media (min-width: 768px) {
  .profile-btn {
    right: 1.5rem;
  }
}
.profile-btn:hover {
  background: var(--overlay-hover);
  border: 2px solid var(--surface-tertiary);
}
.profile-btn .profile-initial {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}
