@use "@/styles/variables" as *;

.qr-activity-page {
  display: flex;
  flex-direction: column;

  &__meta {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 0.9375rem;
    font-weight: 500;
    margin-bottom: $spacing-8;
  }

  &__search {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
    margin-bottom: $spacing-12;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-12;
  }
}
