@use "../../../../styles/variables" as *;

.update-meal__tertiary {
  margin-top: $spacing-8;
}

.update-meal__link {
  color: var(--primary-color);
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
