@use "../../../styles/variables" as *;

.search-bar {
  margin-bottom: $spacing-16;
  position: relative;

  &__icon {
    position: absolute;
    top: 50%;
    left: $spacing-8;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    color: var(--text-secondary);
    pointer-events: none;
  }

  input {
    width: 100%;
    padding: $spacing-8 $spacing-16 $spacing-8 $spacing-32;
    border-radius: $border-radius-medium;
    font-size: 1rem;
    background: var(--background-primary);

  }
}
