@use "../../../styles/variables" as *;

.page-header.with-back {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  margin-bottom: $spacing-24;
  width: 100%;
  height: 36px;

  .btn-nav-back .icon {
    width: 20px;
    height: 20px;
  }

  h1 {
    grid-column: 2;
    font-size: 1.5rem;

    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    text-align: center;
  }

  .header-actions {
    grid-column: 3;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: $spacing-8;
  }
}
