@use "../forms" as forms;
@use "../../../../styles/variables" as *;

.form-group-clearable { 
  .input-wrapper {
    position: relative;
    display: flex; 
    align-items: center; 
  }
}

.input-wrapper { 
  position: relative; 
}

.form-input {
  display: block;
  width: 100%;
  padding: $spacing-12;
  border-radius: $border-radius-medium;
  background-color: var(--background-secondary);
  font-size: 1rem;
  transition: $transition;


  &.error {
    border-color: var(--error-color);
    border-width: 2px;

    &:focus {
      border-color: var(--error-color);
    }
  }
}

.clear-button {
  position: absolute;
  right: $spacing-8; 
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: $spacing-4; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);

  svg {
    width: 16px; 
    height: 16px;
  }

  &:hover {
    color: var(--text-primary);
  }
}
