@use "@/styles/variables" as *;

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
  margin-bottom: $spacing-12;

  h1 {
    font-size: 2.125rem;
    letter-spacing: -0.02em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
  }

  .page-header-actions {
    display: flex;
    align-items: center;
    gap: $spacing-8;
  }
}
