@use "../../../styles/variables" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-light-2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--background-primary);
  border: 1px solid var(--border-color);
  border-radius: $border-radius;
  padding: $spacing-16;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $spacing-4 0rem $spacing-16;

    .modal-title {
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--text-color);
      margin: 0; // Reset h3's default margin
    }

    .close-btn {
      background: none;
      border: none;
      color: var(--text-secondary);

      cursor: pointer;
      line-height: 0;

      svg {
        width: 20px;
        height: 20px;
        display: block;
      }

      &:hover {
        color: var(--text-color);
      }
    }
  }

  .modal-body {
    p {
      color: var(--text-secondary);
      margin-bottom: $spacing-8;
      &:last-child {
        margin-bottom: 0;
      }
    }

    label {
      display: block;
      font-size: 0.875rem;
      color: var(--text-secondary);
      font-weight: 500;
      margin: 0 0 $spacing-8;
    }

    h4 {
      margin-bottom: $spacing-16;
      font-size: 1.125rem;
      font-weight: 600;
    }
  }
}
