@use "@/styles/variables" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--background-primary);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  box-shadow: var(--shadow-modal);
  padding: 1rem;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}
.modal-content .modal-header .modal-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-color);
  margin: 0;
}
.modal-content .modal-body > p {
  color: var(--text-secondary);
  font-size: 0.9375rem;
  line-height: 1.35;
  margin-bottom: 0.5rem;
}
.modal-content .modal-body > p:last-child {
  margin-bottom: 0;
}
.modal-content .modal-body label {
  display: block;
  font-size: 0.875rem;
  color: var(--text-secondary);
  font-weight: 500;
  margin: 0 0 0.5rem;
}
.modal-content .modal-body h4 {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 600;
}
