@use "../../../styles/variables" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal-content {
  background-color: var(--background-primary);
  border: 1px solid var(--border-color);
  border-radius: $border-radius; 
  padding: $spacing-16; 
  width: 90%;
  max-width: 500px; 
  display: flex; 
  flex-direction: column;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-16;

    .modal-title {
      // h3 etiketi için stil
      font-size: 1.25rem; 
      font-weight: 500;
      color: var(--text-color);
      margin: 0; // h3'ün kendi margin'ini sıfırla
    }

    .close-btn {
      background: none;
      border: none;
      color: var(--text-secondary);
      padding: $spacing-8;
      cursor: pointer;
      line-height: 0; 

      svg {
        width: 20px;
        height: 20px;
        display: block;
      }

      &:hover {
        color: var(--text-color);
      }
    }
  }

  .modal-body {

    p {
      color: var(--text-secondary);
      margin-bottom: $spacing-8;
      &:last-child {
        margin-bottom: 0;
      }
    }


    label {
      display: block;
      font-size: 0.875rem;
      color: var(--text-secondary);
      font-weight: 500;
      margin: $spacing-8 0;
    }

    h4 {
      margin-bottom: $spacing-16;
    }
    
    .form-group:last-of-type {
      margin-bottom: 0;
    }
  }
 
}
