@use "@/styles/variables" as *;

.order-cutoff-page {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-16;
  }

  &__lead {
    font-size: 0.9375rem;
    color: var(--text-secondary);
    line-height: 1.5;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
  }

  &__helper {
    font-size: 0.8125rem;
    color: var(--text-secondary);
    line-height: 1.4;
  }

  &__cta {
    display: flex;
    flex-direction: row-reverse;
    gap: $spacing-8;
    width: min(480px, 100vw - 2rem);

    .btn {
      width: 100%;
    }
  }
}
