@use "../../../styles/variables" as *;

.loading-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-12;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;

  .loading-spinner {
    width: 40px;
    height: 40px;
    
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: var(--primary-color);
    animation: spin 1s ease-in-out infinite;

    @media (prefers-color-scheme: dark) {
      border-color: rgba(255, 255, 255, 0.1);
      border-top-color: var(--primary-color);
    }
  }

  p {
    color: var(--text-secondary);
    font-size: 0.875rem;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
