@use "../../../styles/variables" as *;
@use "../../../styles/breakpoints" as *;

.form-group {
  margin: 0;
  width: 100%;
  position: relative;

  label {
    display: block;
    margin: 0 0 $spacing-8;
    font-size: 0.875rem;
    color: var(--text-color);
    font-weight: 500;
  }
}

.input-error {
  display: block;
  color: var(--error-color);
  font-size: 0.875rem;
  margin-top: $spacing-6;
  font-weight: 500;
}

form,
.menu-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-16;
}

// Modal-specific: buttons outside form need full 24px
.modal-content > .form-actions {
  margin-top: $spacing-24;
}

.form-actions {
  display: flex;
  gap: $spacing-12;
  margin-top: $spacing-8;

  .btn {
    flex: 1;
  }

  @media (max-width: 576px) {
    flex-direction: column-reverse;

    & > * {
      // All direct children (usually buttons)
      width: 100%;
      &:not(:last-child) {
        margin-bottom: $spacing-12;
      }
    }
  }
}
