@use "@/styles/variables" as *;

.alert-card {
  background-color: var(--background-primary);
  padding: $spacing-12 10px;
  border-radius: $border-radius;
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-card);
  cursor: default;
}

.alert-card.interactive {
  cursor: pointer;
}

.alert-card:hover {
  background: var(--background-primary);
}

.alert-card:active {
  background: var(--overlay-pressed);
}

.alert-card.critical {
  border-color: var(--error-color);
}

.alert-card.warning {
  border-color: var(--warning-color);
}

.alert-card.good {
  border-color: var(--border-color);
}

.alert-card .alert-header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $spacing-4;
  justify-content: space-between;
  align-items: center;
}

.alert-card .alert-header h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-color);
}
