@use "../forms" as forms; 
@use "../../../../styles/variables" as *;




.form-select {
  display: block; // Tutarlılık için eklendi
  width: 100%;
  padding: $spacing-12;
  border: 1px solid var(--border-color);
  border-radius: $border-radius-medium;
  font-size: 0.875rem;
  background-color: var(--background-secondary);
  color: var(--text-color);
  transition: all $transition;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right $spacing-12 center; // $spacing-12 (0.75rem) or 1rem
  background-size: 1em;

  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: var(
      --disabled-bg-color,
      var(--background-color)
    ); // Daha iyi bir disabled görünümü
  }

  &.error {
    border-color: var(--error-color);
    border-width: 2px; // Input ile tutarlı

    &:focus {
      border-color: var(--error-color); // Hata durumunda focus rengi
    }
  }

  option {
    background-color: var(--background-primary);
    color: var(--text-color);
    padding: $spacing-8; // Tarayıcılar arasında farklılık gösterebilir
  }
}
