@use "../../../../styles/variables" as *;

.select-wrapper {
  position: relative;
}

.form-select {
  display: block;
  width: 100%;
  padding: $spacing-12;
  border: 1px solid var(--border-color);
  border-radius: $border-radius-medium;
  font-size: 1rem;
  background-color: var(--background-secondary);
  color: var(--text-color);
  transition: all $transition;
  appearance: none;
  padding-right: $spacing-32;

  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: var(--background-color);
  }

  &.error {
    border-color: var(--error-color);
    border-width: 2px;

    &:focus {
      border-color: var(--error-color);
    }
  }

  option {
    background-color: var(--background-primary);
    color: var(--text-color);
    padding: $spacing-8;
  }
}

.select-arrow {
  position: absolute;
  right: $spacing-12;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  color: var(--text-color);
  pointer-events: none;
}
