@use "@/styles/variables" as *;

.company-daily-report {
  display: flex;
  flex-direction: column;

  &__period-nav {
    margin-bottom: $spacing-12;
  }

  &__period-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
    color: var(--text-color);
  }

  &__summary {
    margin-bottom: $spacing-12;
  }

  &__groups {
    display: flex;
    flex-direction: column;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__card-list {
    display: flex;
    flex-direction: column;
    gap: $spacing-12;
  }
}
