@use "@/styles/variables" as *;

.company-daily-report {
  display: flex;
  flex-direction: column;

  &__summary {
    margin-bottom: $spacing-12;
  }

  &__groups {
    display: flex;
    flex-direction: column;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__card-list {
    display: flex;
    flex-direction: column;
    gap: $spacing-12;
  }
}
